<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <a routerLink="/sign-up">Sign up</a>
    </ion-label>
  </ion-item>
  <ion-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="floating"
          placeholder="Eneter your email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Password"
          labelPlacement="floating"
          placeholder="Eneter your password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <ion-button type="submit">Log in</ion-button>
    </form>
  </ion-card>
</ion-content>
