<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seawatch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="ion-text-center">Sign Up</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="Eneter your email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div
          class="error-message ion-padding-start"
          *ngIf="form.get('email')?.hasError(validation.type) && (form.get('email')?.dirty || form.get('email')?.touched)"
        >
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="Enter your password"
        formControlName="password"
        type="password"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div
          class="error-message ion-padding-start"
          *ngIf="form.get('password')?.hasError(validation.type) && (form.get('password')?.dirty || form.get('password')?.touched)"
        >
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input
        label="Confirm Password"
        labelPlacement="floating"
        placeholder="Eneter your password"
        formControlName="confirmPassword"
        type="password"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container
        *ngFor="let validation of validationMessages.confirmPassword"
      >
        <div
          class="error-message ion-padding-start"
          *ngIf="(form.get('confirmPassword')?.hasError(validation.type) || form?.hasError(validation.type))  && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
        >
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>

    <a [routerLink]="['/login']" class="sign-up-link"
      >Already have an account?</a
    >
    <ion-button type="submit" [disabled]="form.invalid">Login</ion-button>
    <div class="error-container" *ngIf="submitError">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ submitError }}</span>
      </div>
    </div>
  </form>
</ion-content>
